:root{
  --page-total: 1920px;
  --content-width: 1280px;
  --bleed: calc((var(--page-total) - var(--content-width)) / 2); 
  
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}

.header-content {
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  height: 50px;
  width: auto;
}

/* NAV */
.header nav ul {
  list-style: none;
}

.header nav ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  letter-spacing: .5px;
  transition: color .2s ease;
}

.header nav ul li a:hover {
  color: #75B51A;
}

.home {
  width: 100%;
  background: #fff;
  overflow-x: hidden;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* ------------------ SECTION 1 ------------------ */

.hero-section {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 0 0 0;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: visible; 
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: 700;
  color: #75B51A;
  line-height: 1.2;
  margin-bottom: 30px;
}

.subtitle {
  color: #333;
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.6;
}

.btn-primary {
  background: #75B51A;
  border: none;
  border-radius: 16px;
  padding: 12px 40px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 50px;
}

.small-green {
  color: #75B51A;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 800;
}

.hero-image img {
  width: 800px;     
  height: auto;
  position: absolute;
  right: -100px;     
  top:-10%;
}


.cards-section {
  width: 1920px;
  max-width: 100%;
  padding: 60px 0 0 0;
  display: flex;
  justify-content: center;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

.card-home {
  background: #fff;
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  color: #75B51A;
}

.card-home h3 {
  color: #75B51A;
  font-size: 18px;
  margin: 5px 0;
}

.card-home p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.info-section {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 60px auto 0;
  padding-bottom: 120px;
  box-sizing: border-box;
  overflow: visible;
}

.info-section .container {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  padding: 0;
}
.info-illustration {
  position: absolute;
  bottom: 0;
  left: calc(60% - 640px - var(--bleed));
  top: 40%;
  z-index: 3;
  pointer-events: none;
  will-change: transform;
}

.info-illustration img {
  display: block;
  width: 700px;   
  height: auto;
  max-width: none;
}

.info-green {
  position: absolute;
  top: 10px;
  right: calc(50% - 640px - var(--bleed));
  width: 900px;             
  min-height: 420px;
  border-radius: 120px 0 0 120px;
  padding: 100px 90px ;
  box-sizing: border-box;
  background-image: url('../../assets/verde_lateral.png');
  background-position: center right;
  background-repeat: no-repeat;
  color: #fff;
  z-index: 4;
  overflow: hidden;
  display: block;
}

.info-green-content {
  width: 420px;
  position: relative;
  z-index: 6;
}

.info-green h2 { 
  font-size: 50px; 
  line-height: 1.3; 
  margin-bottom: 20px; 
}

.divider { 
  width: 100px; 
  height: 12px; 
  background: #fff; 
  border-radius: 2px; 
  margin-bottom: 24px; 
}

.divider-green { 
  width: 100px; 
  height: 12px; 
  background: #75B51A; 
  border-radius: 2px; 
  margin-bottom: 24px; 
}

.info-text { 
  font-size: 15px; 
  line-height: 1.6; 
  margin-bottom: 24px; 
}

.info-bold { 
  font-size: 16px; 
  font-weight: 600; 
  margin-bottom: 32px; 
  line-height: 1.4; 
}

.btn-white { 
  font-size: 16px;
  font-weight: 600;
  background: #fff; 
  color: #75B51A; 
  border: none; 
  padding: 12px 40px; 
  border-radius: 16px; 
  cursor: pointer; 
}

